* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 20vw;
    gap: 10px;
}

.search {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.main-container {
    border: 1px solid black;
    border-radius: 20px;
    width: 1200px;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    gap: 5px;
    padding: 10px;
}

.day-container {
    border: 1px solid black;
    border-radius: 5px;
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(4, 40px) 1fr;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
}

.day-item {
    text-align: center;
    padding: 10px;
}